{% extends 'base.html' %}
{% load static %}



{% block body %}
    <div class="container col-md-8">
        <div class ="jumbotron">
            <br>
            <br>
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">

                <div class="col-md-8">
                  <div class="card-body">
                    <small class="card-title">Develop By</small>
                      <h4 class="mb-4"></h4>
                      <h1 class="display-6">Chowdhury Jayed Nahian</h1>
                      <br>
                            <a href="https://twitter.com/jayed_nahian"><img src='{% static 'social_icons/twitter.png' %}' width="40" height="40"></a>
                            <a href="https://www.linkedin.com/in/jayed-nahian/"><img src='{% static 'social_icons/linkedin.png' %}' width="40" height="40"></a>
                            <a href="https://github.com/jayednahain"><img src='{% static 'social_icons/github.png' %}' width="40" height="40"></a>

                  </div>
                </div>
              </div>

        </div>


    </div>

</div>




{% endblock body %}